# ---- Python ----
__pycache__/
*.pyc
.env
.env.*
.venv/
venv/
.api/
*/.venv/
*/venv/
*/.api/

# ---- Node ----
node_modules/

# ---- Mac ----
.DS_Store

# ---- Logs ----
*.log

# ---- VSCode ----
.vscode/

# ---- Model files ----
*.pth
*.gguf
models/

Fastapi/test.db
